.main {
  display: flex; /* we will talk about this later ... */
  --s: 100px;  /* size  */
  --m: 2px;   /* margin */
}

.container {
  font-size: 0; /* disable white space between inline block element */
}

.hexagon-outer {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: black;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
}

.hexagon-inner {
  width: calc(var(--s) - 6px);
  margin: calc(var(--m) - 6px);
  height: calc(calc(var(--s)*1.1547) - 6px);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: white;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
}
