.main {
  display: flex; /* we will talk about this later ... */
  --s: 50px;  /* size  */
  --m: 2px;   /* margin */
  --b: 2px;   /* border */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
}

.container {
  font-size: 0; /* disable white space between inline block element */
}

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
                   #0000 0 calc(var(--f) - 3px),
                   #000  0 var(--f));
}

.hexagon-outer {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: black;
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
}

.hexagon-inner {
  width: calc(var(--s) - var(--b));
  margin: calc(var(--m) - var(--b));
  height: calc(calc(var(--s)*1.1547) - var(--b));
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: white;
  margin-left: calc(var(--b)/2);
  margin-top: calc(var(--b)/2);
  margin-bottom: calc(var(--m) - var(--s)*0.2885);
}
